<div class="container chatroom" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <div class="chatroom-header">
    <%= link_to(user_path(@user)) do %>
      <%= cl_image_tag(@chatroom.user_two.photo.key) %>
    <% end %>
    <h2><%= @chatroom.user_two.first_name %> <%= @chatroom.user_two.last_name %></h2>
    <%= link_to("", chatroom_path(@chatroom), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "fa-solid fa-trash ") %>
  </div>
  <div class="messages"  data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
    <% if message.message_type == "route_share" %>
      <% route_id = message.content.split("/").last %>
      <% route = Route.find(route_id) %>
      <%= render partial: 'messages/route_card', locals: { route: route } %>
    <% else %>
      <%= render "messages/message", message: message %>
    <% end %>
  <% end %>
</div>

  <%= simple_form_for [@chatroom, @message],
    html: {class: "d-flex"} do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
