<div class="users-header">
  <% if current_user.id == @user.id %>
  <div class="logout">
    <%= link_to("Logout", destroy_user_session_path, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }) %>
  </div>
  <% end %>
  <% if @user.photo.key %>
    <%= cl_image_tag(@user.photo.key, class: "avatar-large", width: 56, height: 56) %>
  <% else %>
    <i class="fa-solid fa-user"></i>
  <% end %>
  <h2><%= @user.first_name %> <%= @user.last_name %></h2>
  <h4><%= Time.now.year - @user.date_of_birth.year %> years old</h4>
  <h4><%= @user.running_level %> Runner</h4>
  <h4><%= @user.state %></h4>
  <% if current_user.id != @user.id %>
    <div class="actions">
      <%= link_to("", user_chatrooms_path(@user), data: { turbo_method: :post }, class: "fa-solid fa-message") %>
      <%= link_to("", chatrooms_path, class: "fa-solid fa-user-group") %>
    </div>
  <% end %>
  <% if current_user.id == @user.id %>
    <div class="biography" id=<%= @user.id %> data-controller="biography">
      <div class="action">
        <i class="fa-solid fa-pencil"></i>
      </div>
      <div class="text" data-action="click->biography#modifyBiography" data-biography-target="text">
        <%= @user.biography %>
      </div>
      <div class="form d-none" data-biography-target="form">
        <%= simple_form_for @user, url: update_biography_user_path(@user), action: "submit->insert-in-list#saveText" do |f| %>
          <%= f.input :biography, as: :text %>
          <%= f.button :submit, "Save" %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="biography">
      <div class="text">
        <%= @user.biography %>
      </div>
    </div>
  <% end %>
</div>
<% if current_user.id == @user.id %>
  <h2 class="my-3">Your Routes</h2>
<% end %>
<div class="cards">
  <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
</div>

<h2 style="text-align: center;"><strong>Your Training Programs:</strong></h2>

<div class="row">
  <% if @coaches.any? %>
  <% @coaches.each do |coach| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title"><%= coach.name %></h5>
          <p class="card-text">Duration/Date: <%= coach.duration %></p>
          <p class="card-text">Race/Goal Distance: <%= coach.distance %></p>
          <%= link_to 'View Program', coach_path(coach), class: 'btn btn-success' %>
          <%= link_to 'Delete Program', coach_path(coach),class: 'btn btn-success', data: { turbo_method: :delete, turbo_confirm: "Are you sure to delete your route?"} %>
        </div>
      </div>
    </div>
  <% end %>
</div>
  <% else %>
    <p>No training programs available at the moment. Please try again later.</p>
<%end%>
