<div class="users-header">
  <% if current_user.id == @user.id %>
  <div class="logout">
    <%= link_to("Logout", destroy_user_session_path, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }) %>
  </div>
  <% end %>
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <h4><%= @user.email %></h4>
  <div class="actions">
    <i class="fa-solid fa-message"></i>
    <i class="fa-solid fa-user-group"></i>
  </div>
</div>
<div class="cards">
  <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
</div>
