<% if user_signed_in? %>
  <div class="navbar px-3">
    <div class="logo-title">
      <%= link_to image_tag("navbar_logo.png", alt: "navbar-logo", size: "70x70"), root_path %>
      <h4>DefendHer RUN</h4>
    </div>
    <div class="actions">
      <%= link_to("", chatrooms_path, class:"fa-solid fa-message") %>
      <%= link_to("", user_path(current_user), class: "fa-solid fa-user fa-lg") %>
    </div>
  </div>
<% else %>
  <div class="navbar px-3">
    <div class="logo-title">
      <%= link_to image_tag("navbar_logo.png", alt: "navbar-logo", size: "70x70"), root_path %>
      <h4>DefendHer RUN</h4>
    </div>
    <div class="actions">
      <%= link_to("Sign Up", new_user_registration_path, id: "action") %>
      <%= link_to("Log In", new_user_session_path, id: "action") %>
    </div>
  </div>
<% end %>
