<% if user_signed_in? %>
  <div class="navbar px-3">
    <div class="logo-title">
      <%= link_to image_tag("navbar_logo.png", alt: "navbar-logo", size: "40x40"), root_path %>
      <h1>DefendHer RUN</h1>
    </div>
    <div class="actions">
      <%= link_to("Messages", chatrooms_path) %>
      <%= link_to("", user_path(current_user), class: "fa-solid fa-user") %>
    </div>
  </div>
<% else %>
  <div class="navbar px-3">
    <div class="logo-title">
      <%= link_to image_tag("navbar_logo.png", alt: "navbar-logo", size: "40x40"), root_path %>
      <h1>DefendHer RUN</h1>
    </div>
    <div class="actions">
      <%= link_to("Sign Up", new_user_registration_path) %>
      <%= link_to("Log In", new_user_session_path) %>
    </div>
  </div>
<% end %>
