<div class="container1">
  <h1>Friends</h1>
</div>

<div class="card-product-wrapper">
  <% @friendships.each do |friendship| %>
    <% friend = friendship.friend(current_user) %>
    <%= link_to user_path(friend), class: "card-product-link" do %>
      <div class="card-product">
        <div class="card-product-img">
          <%= cl_image_tag(friend.photo.key, id: "profile") %>
        </div>
        <div class="card-product-info">
          <h2><%= friend.first_name %> <%= friend.last_name %></h2>
          <p><%= friend.running_level %> Runner</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
