<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: root_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search for a running route"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="title">
    <h1>Run Safer, Together</h1>
  </div>
  <div class="subtitle my-3">
    <h4>Find a friend to run with or find a safe running route!</h4>
  </div>
  <div class="d-flex flex-column justify-content-center">
  </div>

  <div class="d-flex justify-content-center my-4">
    <%= link_to "Find a Running Buddy", suggested_friends_path, class: "btn btn-success" %>
  </div>
  <% if !@searched_routes %>
    <h3 class="my-2">Explore Running Routes:</h3>
  <% else %>
    <% if @searched_routes.length > 0 %>
      <h3>Explore <%= params["query"].capitalize! %> routes</h3>
    <% else %>
      <h3>No routes found for <%= params["query"]%></h3>
    <% end %>
  <% end %>
  <div class="container">
    <% if !@searched_routes %>
      <% @routes.take(3).each do |route| %>
        <div class="card-trip">
          <% if route.image.present? %>
            <%= image_tag route.image, alt: "Trip Image" %>
          <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt="Trip Image"/>
          <% end %>
          <div class="card-trip-infos">
            <div class="route-details">
              <h2><%= link_to route.name, route_path(route) %></h2>
              <p>Address: <%= route.address %></p>
              <p>Distance: <%= route.distance %> km</p>
              <p>Description: <%= route.description %></p>
            </div>

            <h2 class="card-trip-pricing"><%= route.distance %> km</h2>
          </div>
        </div>
      <% end %>
    <% else %>
      <% @searched_routes.each do |route| %>
        <div class="card-trip">
          <% if route.image.present? %>
            <%= image_tag route.image, alt: "Trip Image" %>
          <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt="Trip Image"/>
          <% end %>
          <div class="card-trip-infos">
            <div class="route-details">
              <h2><%= link_to route.name, route_path(route) %></h2>
              <p>Address: <%= route.address %></p>
              <p>Distance: <%= route.distance %> km</p>
              <p>Description: <%= route.description %></p>
            </div>
            <h2 class="card-trip-pricing"><%= route.distance %> km</h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

<div class="d-flex justify-content-center">
  <%= link_to "View All Routes", routes_path, class: "btn btn-success" %>
</div>

  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
