
<div class="container">
  <div class="title">
    <h1>Run Safer, Together</h1>
  </div>
  <div class="subtitle my-3">
    <h4>Find a friend to run with or find a safe running route!</h4>
  </div>
  <div class="d-flex flex-column justify-content-center">
  </div>
<h3>Explore Running Routes:</h3>
<div class="container">
  <% @routes.take(3).each do |route| %>
    <div class="card-trip">
      <% if route.image.present? %>
        <%= image_tag route.image, alt: "Trip Image" %>
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt="Trip Image"/>
      <% end %>

      <div class="card-trip-infos">
        <div class="route-details">
          <h2><%= link_to route.name, route_path(route) %></h2>

          <p>Address: <%= route.address %></p>
          <p>Distance: <%= route.distance %> km</p>
          <p>Description: <%= route.description %></p>
        </div>

        <h2 class="card-trip-pricing"><%= route.distance %> km</h2>
      </div>
    </div>
  <% end %>
</div>

</div>

  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
