<div class="container">
  <h1>Notifications</h1>
</div>


<% if @messages.length != 0 || @friendships.length != 0 %>
  <div class="cards">
    <% if @unseen_messages %>
      <% @unseen_messages.each do |message| %>
        <%= link_to(message.chatroom) do %>
          <div class="card-product">
            <% other_user = message.chatroom.user_one == current_user ? message.chatroom.user_two : message.chatroom.user_one %>
             <% if other_user.photo.key %>
              <%= cl_image_tag(other_user.photo.key) %>
            <% else %>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            <% end %>
            <div class="card-product-infos">
              <h2 class="message-updates">New message from <%= other_user.first_name %></h2>
              <p><%= message.content %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% else %>
    <p>You have no notifications yet</p>
<% end %>


<% @friendships.each do |friendship| %>
  <%= link_to "some_path" do %>
    <div class="d-flex align-items-center" id="button1">
      <div>
        <h3 id="alert-type"> <%= friendship.accepted %> </h3>
        <div class="d-flex">
          <div>
            <%= cl_image_tag(friendship.user_two.photo.key, id: "profile") %>
          </div>
          <p class="p1"> <%= friendship.user_two.first_name %> <%= friendship.user_two.last_name %> </p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
