<div class="container">
  <h1>Notifications</h1>
</div>

<% if @updates.any? %>
  <div class="cards">
    <% @updates.each do |update| %>
      <% if update.is_a?(Message) %>
        <%= link_to chatroom_path(update.chatroom) do %>
          <div class="card-product">
            <% if update.user.photo.present? %>
              <%= cl_image_tag(update.user.photo.key, id: "profile", class: "avatar-bordered" ) %>
            <% else %>
              <img src="https://kitt.lewagon.com/placeholder/users/cveneziani" class="avatar-bordered" />
            <% end %>
            <div class="card-product-infos">
              <h2 class="message-updates">New message from <%= update.user.first_name %></h2>
              <p><%= update.content %></p>
            </div>
          </div>
        <% end %>

      <% elsif update.is_a?(Friendship) %>
        <div class="card-product">
          <% if update.user_one.photo.present? %>
            <%= cl_image_tag(update.user_one.photo.key, id: "profile", class: "avatar-bordered") %>
          <% else %>
            <img src="https://kitt.lewagon.com/placeholder/users/cveneziani" class="avatar-bordered" />
          <% end %>
          <div class="card-product-infos">
            <h2>Pending Friend Request</h2>
            <p><%= update.user_one.first_name %> <%= update.user_one.last_name %></p>
            <div class="friendship-actions mt-2">
              <%= link_to "Accept", accept_friendship_path(update), data: { turbo_method: :patch }, class: "btn btn-success btn-sm me-2" %>
              <%= link_to "Reject", reject_friendship_path(update), data: { turbo_method: :patch }, class: "btn btn-danger btn-sm" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>No notifications available.</p>
<% end %>
