<div class="container">
  <h1>Notifications</h1>
</div>

<% if @messages.length != 0 || @friendships.lenght != 0 %>
  <div class="cards">
    <% @messages.each do |message| %>
      <%= link_to(message.chatroom) do %>
        <div class="card-product">
          <%= cl_image_tag(message.chatroom.user_two.photo.key) %>
          <div class="card-product-infos">
            <h2 class="message-updates">New message from <%= message.chatroom.user_two.first_name %></h2>
            <p><%= message.content %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>


<% @friendships.each do |friendship| %>
  <%= link_to "some_path" do %>
    <div class="d-flex align-items-center" id="button1">
      <div>
        <h3 id="alert-type"> <%= friendship.accepted %> </h3>
        <div class="d-flex">
          <div>
            <%= cl_image_tag(friendship.user_two.photo.key, id: "profile") %>
          </div>
          <p class="p1"> <%= friendship.user_two.first_name %> <%= friendship.user_two.last_name %> </p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
