<div class="container">
  <h1>Notifications</h1>
</div>

<% @updates.each do |update| %>
  <% if update.is_a?(Message) %>
    <%= link_to chatroom_path(update.chatroom) do %>
      <div class="d-flex align-items-center" id="button1">
        <div>
          <h3 id="alert-type">New Message</h3>
          <div class="d-flex">
            <div>
              <%= cl_image_tag(update.user.photo.key, id: "profile") %>
            </div>
            <div>
              <p class="p1"><%= update.user.first_name %> <%= update.user.last_name %></p>
              <p class="p2"><%= update.content %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>


  <% elsif update.is_a?(Friendship) %>
    <div class="d-flex align-items-center" id="button1">
      <div>
        <h3 id="alert-type">Pending Friend Request</h3>
        <div class="d-flex">
          <div>
            <%= cl_image_tag(update.user_one.photo.key, id: "profile") %>
          </div>
          <p class="p1"><%= update.user_one.first_name %> <%= update.user_one.last_name %></p>
        </div>
        <div class="friendship-actions">
          <%= link_to "Accept", accept_friendship_path(update), data: { turbo_method: :patch }, class: "btn btn-success" %>
          <%= link_to "Reject", reject_friendship_path(update), data: { turbo_method: :patch }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
