<h1>Running Routes</h1>
<div class="container">
  <% @routes.each do |route| %>
    <div class="route">
      <h2><%= link_to route.address, route_path(route) %></h2>
      <p>Distance: <%= route.distance %> km</p>
      <%= link_to 'View Route', route_path(route), class: 'btn' %>
    </div>
  <% end %>

  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
