<h1><%= @route.name %></h1>


<div class="text-center">
  <%= image_tag @route.image, alt: "#{@route.name} image", class: "img-fluid" %>
</div>

<p>Address: <%= @route.address %></p>
<p>Distance: <%= @route.distance %> km</p>
<p>Description: <%= @route.description %></p>

<div class="text-center">
  <%= link_to 'Back to Routes', routes_path, class: 'btn btn-success' %>
  <%= link_to 'Save Route', "#", class: 'btn btn-success' %>

</div>
