<h1><%= @route.name %></h1>


<div class="text-center">
  <%= image_tag @route.image, alt: "#{@route.name} image", class: "img-fluid" %>
</div>

<p>Address: <%= @route.address %></p>
<p>Distance: <%= @route.distance %> km</p>
<p>Description: <%= @route.description %></p>

<div class="text-center">
  <%= link_to 'All Routes', routes_path, class: 'btn btn-success' %>
  <%= link_to 'Save Route', route_saved_routes_path(@route), data: { turbo_method: :post },class: 'btn btn-success' %>
  <%= link_to 'Share', share_route_path(@route) , class: 'btn btn-success' %>
</div>

  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
